/* 
   Spotted Wren Garden Center style sheet 
   Filename: styles.css

   Author:   Nicholas Ingram
   Date:     2/19/2017
   HTML5 and CSS3 Illustrated Unit E, Independent Challenge 1
 */

/* reset styles */
article, body, div, footer, header, h1, h2, p {
   border: 0;
   padding: 0;
   margin: 0;
   font-size:12px;
}

/* global styles */
p {
   margin: 0.4em 0;
   font-size:1.2em;
}

/* body and page container */
.container {
   max-width: 800px;
   margin: 0 auto;
   font-family:Lato,Arial,Arial, Helvetica, sans-serif;
   background-color:#fff;
}
.container
{
    background-color : rgb(106,194,56);
    box-shadow:0px,0px,10px,#000;
}

/* header section */
header {
   padding: 0.5em;
   background-color: yellow;
   text-align: center;
   color:#f15a24;
}
h1
{
    font-size:3em;
    font-weight:bold;
}

/* main content */
article {
   max-width: 400px;
   padding: 10px;
   margin: 1em auto;
   text-align: center;
   background-color:#fff;
}
h2 {
   margin: 0 0 0.4em;
}
span
{
    font-weight:bold;
    color:green;
}

/* footer section */
footer {
   padding: 0.5em;
   background-color: yellow;
   text-align: center;
}